*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
.nav
  {
    margin-bottom: 180px;
    margin-top: -180px;
  }

.logo 
{
    margin-left: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 32px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ffcc74;;
  }
  
  
  #cont
  {
      margin-right: 50px;
  }
.contact-section
{
    background: url(/Contact.jpeg) no-repeat center;
    background-size:cover ;
    padding: 90px 0;
}
h1
{
    color: white;
    font-size: 65px;
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    
}

.border
{
    width: 100px;
    height: 10px;
    background: #161922;
    margin: 10px auto;


}
.contact-form
{
    max-width: 600px;
    margin: auto;
    padding: 0, 40px;
    overflow: hidden;
}
.contact-form-text
{
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin: 15px auto;
    border: 0;
    border-radius: 10px;
    background: #161922;
    padding: 20px 20px;
    outline: none;
    color: #f8d79d;
    transition: 0.5s;

}
.contact-form-text:focus
{
    box-shadow: 0 0 6px 4px #ffcc74; 
}
.textarea .contact-form-text
{
    resize: none;
    height: 120px;
}
.contact-form-btn
{
   margin-left: 150px;
    border: 0;
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent ;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}
.contact-form-btn:hover
{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: 4s;
    cursor: pointer;
}