*
{
    margin: 0;
    padding: 0;
   
}
.conatiner
{
    width: 100%;
    height: 100%;

}
.menu ul
{
    display: inline-flex;
    margin: 50px;
}
.menu ul li
{
 list-style: none;
 margin: 0 20px;
 cursor: pointer;
 
}
.active
{
    color: blue;
}
.logo img
{
  width: 70px;
  margin-top: -12px;
  margin-right: 120px;
}
.banner
{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
}
.descrip
{
    width: 50%;
    float: left;

}
.descrip h1
{
 font-size: 40px;
 position: relative;
 margin-left: 40px;
}
.btn
{
    width: 50%;
    position: absolute;

}
.btn button
{
    float: right;
    padding: 7px 30px;
    margin-right: 143px;
    margin-top: 30px;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
;
}